// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icons {
  right: 0px;
}

.body{
  text-align: center;
}

.header {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  padding-left: 3px;
  padding-right: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header .title {
  font-weight: bold;
  white-space: nowrap;
}

li {
  overflow:hidden;
  border-style: solid;
  border-width: 1px;
}
